# Project place file
/superchefs.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
# Wally packages and generated sourcemap
/Packages
/ServerPackages
/DevPackages
sourcemap.json

# Roblox type definitions for luau-lsp (downloaded)
globalTypes.d.luau
